.gradient-element {
    height: 10%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));*/
    background: linear-gradient(to bottom, rgba(95, 95, 95, 0.5), rgba(95, 95, 95, 1));

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    left: 0px;
  }

  .svg-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 75px;
    border-radius: 20px;
    height: 75px;

  }

  .svg-image {
    width: 30px;
    /*height: auto;*/
    margin-top: 5px;

  }

  .svg-image-2 {
    width: 30px;
    /*height: auto;*/
    margin-top: 5px;
  }
  .menu-text {
    color: #adadad;
    font-size: 14px;
    margin-top: 5px;
  }

.white-text-color {
  color: white;
}

.default-display-none {
display: none;
}

.default-pointerEvent-none {
  pointer-events: none;
}