* {
  -webkit-tap-highlight-color: transparent;
}

/* Style for the default dialog */
.default-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* Style for the dialog container */
.dialog-container {
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center horizontally and vertically */
}

#button-navigation-dialog-container {
  top: auto;
  left: auto;
  transform: none;
  bottom: 10%;
  left: 0.5%;
  position: absolute;
  width: 99%;
  border-radius: 15px;
  
}


/* Style for the header content */
.dialog-header-content {
  padding: 20px;
  /*background-color: #333;*/
  background-color: #005081;

  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

#button-navigation-dialog-header-content {
  padding: 10px;
  display: flex;
  border-radius: 15px;
  height: 100%;
  justify-content: space-around;
  background-color: #333;

  
}
.bottom-bar-content {
  padding: 10px;
  background-color: #005081;
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

#menu-dialog-right-arrow {
  position: absolute;
  right: 0;
  top: 0px;
}

#menu-dialog-left-arrow {
  position: absolute;
  left: 0;
  top: 0px;
  display: none;

}

/* Style for the dialog content */
.dialog-content {
  padding: 20px;
  padding-top: 0px;
  /* Enable scrolling for dialog content */
  overflow-y: auto;
  /* Set a maximum height for the scrollable content */
  max-height: 300px;
  text-align: center;
}

#menu-dialog-content-manual-mode {
  /*padding: 20px;*/
  padding-top: 0px;
  /* Enable scrolling for dialog content */
  overflow-y: hidden;
  /* Set a maximum height for the scrollable content */
  /*max-height: 500px;*/

}

/* Close button style */
.close-dialog-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
}

/* Silder related styles  */
.slider-container {
  position: inherit;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Style the range slider track */
.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 85%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  margin: 0;
  opacity: 0.7;
}

/* Style the range slider thumb/handle */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #387072;
  border-radius: 50%;
  cursor: pointer;

}

/* Remove the default tooltip on the range slider */
.range-slider::-webkit-slider-thumb::after {
  content: '';
  display: none;
}

/* Style the range slider value display */
#manual-steering-slider-value,
#manual-motor-speed-slider-value {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.minus-svg-icon {
  position: relative;
  display: grid;
  justify-content: start;
  padding: 10px;
  padding-left: 20px;
}

.plus-svg-icon{
  position: relative;
  display: grid;
  justify-content: end;
  padding: 10px;
  padding-right: 20px;

}

.minus-plus-icon-container {
  display: flex;
  justify-content: space-between;
}
.align-text {
  text-align: center;
}

.line-1 {
  position: absolute;
  left: 0px;
  right: 0px;
}


#start-route-button
 {
  margin: 0 auto;
  display: block;
  font-size: small;
}

#anchor-button,
#lock-direction-button {
  font-size: small;
}

.center-div {
  text-align: center;
}

.menu-button-container {
  padding-top: 15px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  
}

#bluetooth-connection-state {
  border: none;
  border-bottom: 1px solid #000;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.option-div-styles {
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center; 
 border-bottom: 1px solid black;
  margin: 5px; 
  height: 40px; 
  line-height: 40px; 
  color: rgb(68, 68, 68);
}


.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.toggle-switch .text-element {
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 34px;
  margin-left: 10px;
  background-color: #ccc;
  border-radius: 34px;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: #2196F3;
}

input:checked + .toggle-slider:before {
  transform: translateX(26px);
}


.settings-pane {
  margin-left: 1%; /* Adjust as needed */
  margin-right: 1%; /* Adjust as needed */
  background-color: #f2f2f2; /* Light gray background */
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px; /* Add margin on top */
}
.settings-pane  h3 {
  margin-top: 5px; /* Modify default top margin of h2 */
  border-bottom: 1px solid #000;
}


#distance-to-interpolated-point-threshold {
  width: 80;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none; /* Remove default outline */
}

#distance-to-interpolated-point-threshold:focus {
  border-color: #007bff; /* Change border color when focused */
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-container label {
  margin-left: 10px;
  font-size: 14px;
}