* {
  -webkit-tap-highlight-color: transparent;
}

/* Prevents user from selecting text within the whole HTML document */
body {
  user-select: none;
}

#map-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0%;
  z-index: 100;
}

#delete-draggable-marker {
  position: absolute;
  z-index: 1000;
  transform: translateX(-50%);
  left: 50%;
  bottom: 10%;
}

#menu-button {
    position: absolute;
    bottom: 20px; 
    left: 20px;
    z-index: 103;
    border-radius: 25px;
    width: 85px;
    height: 45px;
    display: flex; /* Use flexbox to center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
#new-route-container {
  position: absolute;
  display: grid;
  z-index: 110;
  right: 5%;
  bottom: 17%;

}

/* button class related stuff below here */
.button-class {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s ease;
  outline: none;
}

.button-class[disabled] {
  background-color: rgba(192, 192, 192, 0.8);
  color: #4d4d4d;
}

.auto-mode-info-data {
  display: flex;
  align-items: center;
  font-size: small;
  left: 15px;
}

.auto-mode-info-data p {
  margin-left: 10px; 
  font-weight: bold;
}

.border-radius-20px {
  border-radius: 20px;
}

#save-settings-button {
  font-size: x-small;

}

#auto-mode-selected-route {
  font-size: large;
  margin-bottom: 5px;
  margin-top: 5px;
}
#location-permission-required-container {
  z-index: 200;
  background-color: #808080;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
}
#location-permission-required-label {
  z-index: 201;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 999;
}